// FONTS

ff()
	font-family 'Segoe UI', arial

@font-face
	font-family 'days'
	src url('../fonts/days/days.eot')
	src url('../fonts/days/days.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/days/days.woff2') format('woff2'),
		 url('../fonts/days/days.woff') format('woff'),
		 url('../fonts/days/days.ttf') format('truetype'),
		 url('../fonts/days/days.svg#daysregular') format('svg');
	font-weight normal
	font-style normal
	
@font-face
	font-family 'futura'
	src url('../fonts/futura/FuturaPT.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'FuturaDemi'
	src url('../fonts/futura/FuturaDemiC.eot')
	src url('../fonts/futura/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/futura/FuturaDemiC.woff') format('woff'),
		 url('../fonts/futura/FuturaDemiC.ttf') format('truetype');
	font-weight normal
	font-style normal