// VARIABLES
$containerWidth = 1100px
$baseFontSize = 18

$title = futura
$orange = #f76228

// COLORS


// MEDIA
$smallDesktop = 'screen and (max-width 1680px)'
$laptop = 'screen and (max-width 1279px)'
$tablet = 'screen and (max-width 959px)'
$phone = 'screen and (max-width 767px)'
$smallPhone = 'screen and (max-width 479px)'

$onlyWide = 'screen and (min-width 993px)'
$onlyNarrow = 'screen and (max-width 992px)'

$onlySmallDesktop = 'screen and (min-width 1201px) and (max-width 1680px)'
$onlyLaptop = 'screen and (min-width 993px) and (max-width 1200px)'
$onlyTablet = 'screen and (min-width 769px) and (max-width 992px)'

$noTablet = 'screen and (min-width 993px)'
$noPhone = 'screen and (min-width 768px)'


.g-only-desktop
	display block !important
	@media $laptop
		display none !important
		
.g-only-laptop
	display none !important
	@media $onlyLaptop
		display block !important
		
.g-only-tablet
	display none !important
	@media $onlyTablet
		display block !important
		
.g-only-phone
	display none !important
	@media $phone
		display block !important
		
.g-no-laptop
	@media $onlyLaptop
		display none !important
		
.g-no-tablet
	@media $onlyTablet
		display none !important
		
.g-no-phone
	@media $phone
		display none !important

.g-only-narrow
	display none !important
	@media $onlyNarrow
		display block !important
		
.g-only-wide
	display block !important
	@media $onlyNarrow
		display none !important