.advantages-row
	margin 30px 0 40px
	&__list
		display flex
		justify-content space-between
		@media $phone
			flex-direction column
	&__item
		width 20%
		@media $phone
			width 100%
	&__img-wrap
		text-align center
	&__title
		font-family FuturaDemi
		font-size getRem(18)
		color #3a3a3a
		text-align center