.advantages
	&_cooperation
		margin-top getRem(40)
		.advantages__item
			margin-bottom getRem(40)
		.advantages__title
			font-size getRem(22)
	&__list
		display flex
		flex-wrap wrap
		@media $phone
			flex-direction column
	&__item
		width 50%
		margin-bottom getRem(20)
		@media $phone
			width 100%
	&__head
		position relative
		padding-top getRem(40)
		margin-bottom getRem(10)
		@media $phone
			padding-top 0
	&__img
		position absolute
		bottom getRem(-10)
		left 0
		@media $laptop
			max-width getRem(120)
			img
				width 100%
		@media $phone
			max-width getRem(60)
			bottom 0
	&__title
		color #3a3a3a
		font-family FuturaDemi
		font-size getRem(24)
		padding-left getRem(130)
		min-height getRem(50)
		@media $phone
			font-size getRem(20)
			padding-left getRem(70)
	&__text
		color #3a3a3a
		font-family futura
		font-size getRem(18)
		line-height getRem(22)
		padding-right getRem(40)
		@media $phone
			padding-right 0