.aside-block
	display block
	max-width getRem(350)
	margin getRem(50) 0
	text-align center
	&__title
		display inline-block
		position relative
		padding 5px 10px
		background #fff
		top getRem(-25)
		font-weight bold
		font-family FuturaDemi
	&__inner
		border 1px solid #999
		padding getRem(10)
		position getRem(20)
