.breadcrumb
	
	li
	a
		font-size getRem(18)
		font-family futura
		color #3a3a3a
		text-decoration none
	a
		text-decoration underline 
	li
		position relative
		display inline-block
		padding getRem(5) getRem(10) getRem(5) getRem(15)
		&:before
			content ''
			position absolute
			left 0
			top 50%
			transform translateY(-50%)
			width getRem(5)
			height getRem(5)
			border-radius 50%
			background #3a3a3a
		&:first-child
			padding-left 0
			&:before
				display none
	a
		&:hover
			text-decoration underline
			color #12b9f7
	&__wrapper
		padding getRem(10) 0
		border-top 2px solid #757575