.btn-to-top
	cursor pointer
	position fixed
	right 100px
	bottom 100px
	opacity 0
	transition all 1s
	z-index 1
	@media $smallDesktop
		right 0
	&.is-visible
		opacity 1
	@media $tablet
		display none