btn()
	display inline-block
	color #fff
	height getRem(50)
	line-height getRem(50)
	font-family FuturaDemi
	font-size getRem(26)
	background #00a8ec
	text-decoration none
	text-align center
	text-transform uppercase
	box-shadow 0 0 10px 2px rgba(0, 0, 0, 0.26)
	transition all .375s
	border none
	cursor pointer
	padding 0 getRem(10)
	box-sizing border-box
.btn
	btn()