.career
	&__head
		cursor pointer
		text-transform uppercase
		font-family FuturaDemi
		font-size getRem(20)
		background #00aeef
		color #fff
		width 100%
		max-width getRem(400)
		padding getRem(20)
		box-sizing border-box
		margin-bottom getRem(30)
	&__body
		display none
	
	&__row
		border-bottom 1px solid #00aeef
		padding getRem(20)
		&:last-child
			border-bottom none
			margin-bottom getRem(30)
	&__title
		font-family futura
		font-size getRem(20)
		color $orange
		margin-bottom getRem(20)
	&__text
		font-family futura
		font-size getRem(18)
		color #3a3a3a