.catalog-form
	display block
	background #f5f5f5 url('/f/i/catalog-form.jpg') center center no-repeat
	background-size auto 100%
	padding getRem(50) 0
	@media $phone
		background #f5f5f5
	
	&__content
		margin-left 50%
		width 50%
		@media $tablet
			margin-left 45%
			width 55%
		@media $phone
			margin-left 0
			width 100%
	
	&__title
		padding-left 10px
		border-left 3px solid $orange
		.section__title
			text-align left
			font-size getRem(36)
			line-height 1.3
			margin-bottom getRem(20)
	&__text
		margin-bottom getRem(30)
	
	&__btn
		.btn
			width 460px
			margin auto
			max-width 100%
			@media $phone
				height auto