.catalog-certificate
	&__item
		padding getRem(10)
		
		img
			max-width 100%
	
	.slick-dots
		font-size 0
		bottom 0
		position static
		margin-top getRem(15)
	.slick-dots li
		margin 0 getRem(5)
	.slick-dots li button
		border 2px solid #00a8ec
		width getRem(6)
		height getRem(6)
		@media $phone
			width getRem(4)
			height getRem(4)
		&:before
			display none
	.slick-dots li.slick-active button
		background #00a8ec
