.catalog
	padding-top getRem(20)
	&__list
		display flex
		justify-content center
		flex-wrap wrap
		margin-left -10px
		margin-right -10px
		@media $phone
			flex-direction column
			margin 0
	&__item
		display block
		width calc(33.33% - 20px)
		height getRem(238)
		margin getRem(10)
		padding getRem(45)
		box-sizing border-box
		color #3a3a3a
		background-position center center
		background-size cover
		@media $phone
			width 100%
			margin getRem(10) 0
		&:hover
			color #f76228
	&__body
		text-align center
		width 100%
		height 100%
		background rgba(255, 255, 255, 0.64)
		display flex
		flex-direction column
		justify-content space-evenly
	&__title
		font-family FuturaDemi
		font-size getRem(18)
		line-height getRem(22)
		text-transform uppercase
	&__btn
		text-align center
		margin-top getRem(30)
		margin-bottom getRem(50)
		@media $phone
			margin-bottom getRem(30)
		.btn
			width getRem(280)
			@media $phone
				width 100%
				max-width getRem(280)