.catalog-inner
	padding-top getRem(20)
	border-bottom 1px solid #cecece
	margin-bottom: getRem(20)
	
	&__list
		display flex
		flex-wrap wrap
		margin-left -10px
		margin-right -10px
		@media $phone
			flex-direction column
			align-items center
			margin 0
	&__item
		display block
		width calc(33.33% - 20px)
		margin getRem(10)
		margin-bottom getRem(50)
		box-sizing border-box
		color #3a3a3a
		text-decoration none
		text-align: center
		font-family FuturaDemi
		@media $phone
			width 100%
			max-width 320px
			margin getRem(10) 0
	&__img
		width: 100%
		max-width 220px
	&__title
		font-size getRem(18)
		font-family FuturaDemi
		color #f76228
		text-decoration underline
	&__description
		font-size getRem(14)
		font-family futura
