.catalog-menu
	&__list
		max-width getRem(350)
		background #f0f0f0
		padding 15px 0
	&__item
		font-family days
		font-size getRem(18)
		color #3a3a3a
		padding 10px 20px
		position relative
		a
			display block
			font-family days
			font-size getRem(18)
			color #3a3a3a
			
			&:hover
				color #f76228
			
		&.is-active
		&:hover
			&:after
				content ''
				display block
				border 14px solid transparent
				border-left 14px solid #f76228
				width 0
				height 0
				position absolute
				left -3px
				top 5px
		
		ul
			display none
			position absolute
			top 0
			min-width 310px
			left 100%
			z-index 10
			background #f0f0f0
			box-shadow 0 1px 3px 0 rgba(0,0,0,.2)
			@media $phone
				display block
				position static
				box-shadow none
				padding-left getRem(20)
		
		&:hover > ul
			display block
	
	&__item_have-children
		&:before
			content ''
			position absolute
			width 0
			height 0
			border-top 4px solid transparent
			border-bottom 4px solid transparent
			border-left 5px solid #999
			top 16px
			right 7px