.checkbox
	position relative
	display inline-block
	color #fff
	font-size getRem(18)
	font-family futura
	padding-left 40px
	cursor pointer
	span
		cursor pointer
		text-decoration underline
	a
		color #fff
	&__input
		display none
		&.is-error
			& + .checkbox__icon
				background #ffc8b3
	&__input:checked + &__icon:after
		display block
	&__icon
		position absolute
		left 0
		top 50%
		transform translateY(-50%)
		box-sizing border-box
		width 28px
		height 28px
		border 4px solid #fff
		&:after
			content ''
			position absolute
			display none
			width 16px
			height 16px
			left 50%
			top 50%
			transform translate(-50%, -50%)
			background #fff