.clients-slider
	&__list
		.slick-prev
			left -60px
			display block
			border 20px solid transparent
			border-right 20px solid #a2a2a2
			width 0
			height 0
			@media $phone
				left: 0
		.slick-next
			right -60px
			display block
			border 20px solid transparent
			border-left 20px solid #a2a2a2
			width 0
			height 0
			@media $phone
				right: 0
		.slick-prev
		.slick-next
			z-index 1
			&:before
				display none
		.slick-dots
			font-size 0
			bottom 0
			position static
			margin-top getRem(15)
		.slick-dots li
			margin 0 getRem(5)
			
		.slick-dots li button
			border 4px solid #00a8ec
			@media $phone
				width getRem(10)
				height getRem(10)
				
			&:before
				display none
		.slick-dots li.slick-active button
			background #00a8ec
		&.slick-dotted.slick-slider
			margin-bottom 0
	&__item
		height 130px
		display flex !important
		align-items center
		justify-content center
		img
			max-width 95%
			max-height 95%