.contacts
	&__header
		font-family days
		font-size getRem(24)
		color #3a3a3a
		text-transform uppercase
		margin-bottom 15px
	&__mail
		font-family FuturaDemi
		font-size getRem(16)
		color #3a3a3a
		a
			color #00aeef
			text-decoration none
	&__item
		display flex
		padding getRem(40) 0
		border-bottom 2px solid #00aeef
		@media $phone
			flex-direction column
		&:last-child
			border-bottom none
	&__data
		box-sizing border-box
		padding-left 10px
		width 100%
		max-width getRem(340)
	&__row
		position relative
		margin-bottom 20px
	&__icon
		width 22px
		position absolute
		left 0
		top 0
	&__content
		padding-left 35px
		color #3a3a3a
		font-size getRem(16)
	&__name
		font-family FuturaDemi
	&__value
		font-family futura
	
	&__map-wrapper
		flex-grow 1
	&__map
		height 330px