.customer-tabs
	&__tab
		display none
		&.is-active
			display block
	&__tab-head
		display flex
		justify-content center
		margin 35px 0
	&__tab-head-item
		font-family FuturaDemi
		font-size getRem(22)
		text-transform uppercase
		cursor pointer
		width getRem(320)
		height getRem(42)
		line-height getRem(32)
		text-align center
		background #fff
		box-sizing border-box
		border 5px solid #f76228
		color #f76228
		margin 0 12px
		box-shadow 0 0 10px 2px rgba(0, 0, 0, 0.26)
		&.is-active
		&:hover
			color #fff
			background #f76228