.feedback-slider
	&__inner
		padding-top 20px
	&__list
		.slick-list
			margin-left 0
			margin-right 0
		.slick-arrow
			display block
			border 20px solid transparent
			width 0
			height 0
		.slick-prev
			left -50px
			border-right 20px solid #a2a2a2
			@media $laptop
				left: -40px
		.slick-next
			right -50px
			border-left 20px solid #a2a2a2
			@media $laptop
				right -20px
		.slick-prev
		.slick-next
			z-index 1
			&:before
				display none
		.slick-slide
			.works-slider__zoom-icon_hover
				display none
		.slick-dots
			font-size 0
			bottom 0
			position static
			margin-top getRem(15)
		.slick-dots li
			margin 0 getRem(5)
		.slick-dots li button
			border 4px solid #00a8ec
			@media $phone
				width getRem(10)
				height getRem(10)
			&:before
				display none
		.slick-dots li.slick-active button
			background #00a8ec
		&.slick-dotted.slick-slider
			margin-bottom 0
	&__item
		width 100%
		max-width getRem(960)
		transform scale(0.7)
		transition all .375s
		&.slick-active
			transform scale(1)
	&__img
		width 100%
		max-height getRem(540)
	&__head
		position absolute
		bottom 0
		width 100%
		background rgba(255, 255, 255, .7)
		font-family FuturaDemi
		font-size getRem(22)
		color #3a3a3a
		padding 14px
		box-sizing border-box
		display none
		.slick-active &
			display block
	&__btn
		text-align center
		margin-top 30px
		@media $phone
			padding 0 getRem(10)
		.btn
			width getRem(430)
			@media $phone
				width 100%
				max-width getRem(430)
			&:hover
				background #f76228
				
	.reviews__item
		width: 33.3333%
		max-width 350px
		background #fff
		margin-bottom: 0
		padding: 20px
		box-sizing border-box
		margin-right: 30px
		@media $phone
			max-width 100%
	.reviews__text
		max-height 48px
		overflow hidden
		@media $phone
			max-height: max-content