.footer
	background #f76228
	&__inner
		padding 40px 0 30px
		display flex
		@media $phone
			flex-direction column
	&__left
		margin-right 34px
		flex-shrink 0
		@media $phone
			margin-right 0
	&__right
		width 100%
	&__soc
		text-align center
		margin-top 30px
	&__soc-item
		width 30px
		height 30px
		display inline-block
		border 4px solid #fff
		margin 0 11px
		font-size 0
		img
			max-width 30px
	&__btn
		display block
		width getRem(290)
		background #fff
		color #f76228
		font-family FuturaDemi
		font-size getRem(26)
		height getRem(54)
		line-height getRem(54)
		text-align center
		text-decoration none
		text-transform uppercase
		margin-top 24px
		border none
		cursor pointer
		@media $phone
			width 100%
			max-width getRem(290)
			margin-left auto
			margin-right auto
	&__logo
		display block
		@media $laptop
			max-width getRem(290)
			img
				width 100%
		@media $phone
			margin 0 auto
	&__menu
		width getRem(230)
		flex-shrink 0
		@media $phone
			width 100%
			margin-top getRem(30)
			margin-bottom getRem(30)
	&__copy
		font-family futura
		font-size getRem(14)
		color #fff
	&__copy-link
		color #fff
		cursor pointer
		text-decoration underline
		&:hover
			text-decoration none
	&__office
		color #fff
	&__office-list
		display flex
		flex-wrap wrap
	&__office-item
		width 33.3333%
		margin-bottom getRem(20)
		@media $phone
			width 100%
	&__office-title
		font-family days
		font-size getRem(22)
		text-transform uppercase
		margin-bottom getRem(20)
	&__office-area
		font-family FuturaDemi
		font-size getRem(18)
	&__office-location
		font-family futura
		font-size getRem(18)
	&__office-phone
		font-family futura
		font-size getRem(18)
		color #fff
		text-decoration none