.get-stock
	&__form
		margin-top getRem(35)
	&__row
		display flex
		justify-content space-between
		margin-bottom getRem(20)
		align-items center
		@media $phone
			flex-direction column

	&__btn
		max-width getRem(460)
		width 100%
		.btn
			background #12b9f7
			width 100%
	&__input
		max-width getRem(540)
		width 100%
		margin-right getRem(20)
		@media $phone
			margin-right 0
			margin-bottom getRem(20)
		&:last-child
			margin-right 0
			@media $phone
				margin-bottom 0
		.input__wrapper
			border-color #4b4b4b
		.input__input
			color #3a3a3a
			+placeholder()
				color #3a3a3a
	
	&__checkbox
		@media $phone
			margin-bottom getRem(20)
		.checkbox__icon
			border-color #4b4b4b
		.checkbox__icon:after
			background #4b4b4b
		.checkbox
			color #3a3a3a
			a
				color #3a3a3a
	&__ckeckbox-list
		max-width getRem(540)
		width 100%
		.checkbox__icon
			border-color #4b4b4b
		.checkbox__icon:after
			background #4b4b4b
		.checkbox
			margin-right 20px
			color #3a3a3a
			a
				color #3a3a3a
	&__ckeckbox-list-label
		display inline-block
		font-family futura
		font-size getRem(18)
		margin-right getRem(50)
		@media $laptop
			width 100%
			margin-bottom getRem(10)
			margin-right 0
	&__textarea
		width 100%
		.textarea__wrapper
			border-color #4b4b4b
		.textarea__textarea
			color #3a3a3a
			min-height getRem(100)
			+placeholder()
				color #3a3a3a