.get-now
	&__inner
		display flex
		padding getRem(45) 0
		@media $phone
			flex-direction column
	&__left
		position relative
		border-left 10px solid #fff
		width 100%
		max-width getRem(510)
		@media $phone
			border-left none
		&:before
			content ''
			display block
			position absolute
			height 10px
			width 10px
			top 0
			left 0
			background #fff
			@media $phone
				display none
		&:after
			content ''
			display block
			position absolute
			height 10px
			width 10px
			bottom 0
			left 0
			background #fff
			@media $phone
				display none
	
	&__right
		position relative
		border-right 10px solid #fff
		width 100%
		max-width getRem(580)
		@media $phone
			border-right none
		&:before
			content ''
			display block
			position absolute
			height 10px
			width 10px
			top 0
			right 0
			background #fff
			@media $phone
				display none
		&:after
			content ''
			display block
			position absolute
			height 10px
			width 10px
			bottom 0
			right 0
			background #fff
			@media $phone
				display none
	
	&__title
		font-family days
		font-size getRem(46)
		color #fff
		text-transform uppercase
		margin-top getRem(-20)
		margin-bottom getRem(25)
		@media $laptop
			font-size getRem(40)
		@media $phone
			font-size getRem(26)
			margin-top 0
	&__form-wrapper
		@media $laptop
			padding-right getRem(20)
		@media $phone
			padding-right 0
	&__form-row
		display flex
		justify-content space-between
		max-width getRem(540)
		margin-bottom getRem(30)
		@media $phone
			flex-wrap wrap
	&__input
		max-width getRem(265)
		@media $phone
			max-width unset
			width 100%
			margin-bottom getRem(30)
			&:last-child
				margin-bottom 0
	&__checkbox
		margin-bottom getRem(40)
	&__btn
		margin-bottom -20px
		.btn
			width getRem(540)
			background #fff
			color $orange
			@media $phone
				width 100%
				max-width getRem(540)
	&__text
		color #fff
		font-family FuturaDemi
		font-size getRem(26)
		position relative
		padding-left getRem(60)
		margin-bottom getRem(25)
		@media $laptop
			font-size getRem(24)
	&__text-icon
		position absolute
		left 0
		top 0
		max-width getRem(47)
		width 100%
		img
			width 100%
	&__window
		position absolute
		left getRem(-40)
		top getRem(-100)
		@media $laptop
			// max-width getRem(400)
			img
				width 100%
		@media $phone
			position static
			display none
	&__payment
		color #fff
		position absolute
		left getRem(95)
		top 10px
		@media $phone
			position static
			margin-bottom getRem(20)
			br
				display none
	&__payment-title
		font-family FuturaDemi
		font-size getRem(22)
		margin-bottom 15px
	&__payment-item
		position relative
		font-family futura
		font-size getRem(18)
		margin-bottom getRem(15)
		@media $phone
			padding-left getRem(15)
		&:before
			content ''
			display block
			position absolute
			background #fff
			width 8px
			height 5px
			left -15px
			top 7px
			@media $phone
				left 0