.get-callback
	&__inner
		padding-top 30px
	&__form
		display flex
		justify-content space-between
		align-items center
		@media $phone
			flex-direction column
	&__btn
		.btn
			background #f76228
			width getRem(190)
	&__input
		width getRem(310)
		flex-shrink 0
		margin-right 14px
		@media $phone
			width 100%
			max-width getRem(320)
			margin-right 0
			margin-bottom getRem(20)
		.input__wrapper
			border-color #4b4b4b
		.input__input
			color #3a3a3a
			+placeholder()
				color #3a3a3a
	&__checkbox
		@media $phone
			margin-bottom getRem(20)
		.checkbox__icon
			border-color #4b4b4b
		.checkbox__icon:after
			background #4b4b4b
		.checkbox
			color #3a3a3a
			a
				color #3a3a3a
			