.get-project
	&__inner
		padding getRem(40) 0
	&__body
		display flex
		position relative
		border-top 10px solid #fff
		border-right 10px solid #fff
		padding getRem(30) 0 getRem(40)
		@media $phone
			flex-direction column
			border-top none
			border-right none
			padding 0
		&:after
			content ''
			display block
			position absolute
			width 50%
			height 10px
			background #fff
			bottom 0
			right 0
			@media $phone
				display none
		&:before
			content ''
			display block
			position absolute
			width 10px
			height 20px
			background #fff
			left 0
			top 0
			@media $phone
				display none
	&__content
		width 100%
		max-width getRem(560)
	&__form-wrapper
		width 100%
		max-width getRem(520)
	
	&__title
		text-transform uppercase
		color #fff
		font-family days
		font-size getRem(46)
		margin-bottom 15px
		@media $phone
			font-size getRem(26)
	&__text
		color #fff
		font-family futura
		font-size getRem(18)
		line-height getRem(22)
		position relative
		padding-left getRem(25)
		@media $phone
			margin-bottom getRem(20)
			padding-left 0
		&:before
			content ''
			position absolute
			width 10px
			left 0
			top 0
			bottom -20px
			background #fff
			@media $phone
				display none
	&__form
		width 100%
		max-width getRem(460)
		margin 0 auto
	&__input
		margin-bottom 20px
		.input__input
			text-align center
	&__checkbox
		text-align center
		margin-bottom 25px
	&__btn
		.btn
			background #fff
			color #f76228
			width 100%
	&__ruler
		position absolute
		bottom getRem(-60)
		left 0
		width 49%
		@media $phone
			display none
		img
			width 100%