.get-measure
	&__inner
		padding getRem(40) 0
	&__body
		display flex
		padding-top getRem(40)
		padding-bottom getRem(40)
		@media $phone
			flex-direction column
	&__content
		width 100%
		max-width getRem(610)
		box-sizing border-box
		padding-left getRem(240)
		position relative
		@media $phone
			padding-left 0
	&__main-img
		position absolute
		left getRem(-160)
		@media $smallDesktop
			left 0
			max-width getRem(240)
			img
				width 100%
		@media $phone
			position static
			margin 0 auto
	&__form-wrapper
		width 100%
		max-width getRem(490)
	
	&__title
		text-transform uppercase
		color #fff
		font-family days
		font-size getRem(46)
		margin-bottom getRem(15)
		text-align center
		@media $phone
			font-size getRem(26)
	&__present
		position relative
		margin-bottom getRem(40)
	&__present-img
		position absolute
		left 0
		width 100%
		max-width getRem(63)
		img
			width 100%
	&__present-text
		font-family FuturaDemi
		font-size getRem(26)
		padding-left getRem(90)
		color #fff
		@media $phone
			font-size getRem(22)
	&__form
		width 100%
		max-width getRem(410)
		margin 0 auto
	&__input
		margin-bottom getRem(20)
		.input__input
			text-align center
	&__checkbox
		text-align center
		margin-bottom getRem(25)
	&__btn
		.btn
			background #fff
			color #f76228
			width 100%
			@media $phone
				font-size getRem(20)
	&__list
		@media $phone
			margin-bottom getRem(20)
	&__list-header
		font-family FuturaDemi
		font-size getRem(28)
		color #fff
		margin-bottom getRem(5)
		position relative
	&__list-item
		position relative
		font-family futura
		font-size getRem(22)
		color #fff
		padding-left getRem(15)
		margin-top getRem(5)
		margin-bottom getRem(6)
		&:before
			content ''
			display block
			position absolute
			left 0
			top getRem(10)
			width getRem(7)
			height getRem(7)
			border-radius 50%
			background #fff