.header-top
	&__inner
		padding getRem(15) 0
		display flex
		justify-content space-between
		@media $phone
			flex-wrap wrap
			justify-content center
			padding-bottom getRem(25)
	&__logo
		width 100%
		max-width getRem(320)
		@media $phone
			max-width getRem(230)
			margin-bottom getRem(20)
		img
			width 100%
	&__btns
		@media $phone
			display: none
			margin-bottom getRem(20)
	&__btn
		display block
		width getRem(260)
		height getRem(35)
		font-size getRem(19)
		line-height getRem(25)
		color #00a8ec
		background #fff
		font-family FuturaDemi
		text-decoration none
		text-transform uppercase
		border getRem(5) solid #00a8ec
		text-align center
		margin-bottom getRem(10)
		box-shadow 0 3px 3px 1px rgba(130, 130, 130, 0.42)
		cursor pointer
		&:last-child
			margin-bottom 0
	&__adress
		display flex
		flex-direction column
		justify-content space-around
		@media $phone
			width 60%
	&__adress-item
		font-size getRem(15)
		color #3a3a3a
		font-family FuturaDemi
		@media $phone
			font-size getRem(12)
	&__adress-area
		color #949494
	&__phones
		display flex
		flex-direction column
		justify-content space-around
		@media $phone
			width 40%
	&__phone
		display block
		text-decoration none
		font-family FuturaDemi
		@media $phone
			text-align right
	&__phone-code
		color #949494
		font-size getRem(10)
		display inline-block
		vertical-align top
		padding-top 3px
		padding-right 5px
	&__phone-num
		color #00aeef
		font-size getRem(24)
		display inline-block
		vertical-align top
		@media $phone
			font-size getRem(18)
	&__menu-mob
		width getRem(30)
		height getRem(24)
		cursor pointer
		position absolute
		top getRem(5)
		right getRem(5)
		display none
		background #00a8ec
		padding getRem(10)
		@media $phone
			display block
			
	&__menu-mob-line
	&__menu-mob-line:before
	&__menu-mob-line:after
		position absolute
		width getRem(30)
		height getRem(4)
		border-radius getRem(4)
		transition all .1s
		background-color #fff
	&__menu-mob-line
		top 50%
		margin-top getRem(-2)
		.header-top__menu-mob.is-active &
			transform rotate(45deg)
	&__menu-mob-line:before, &__menu-mob-line:after
		display block
		content ''
	&__menu-mob-line:before
		top getRem(-10)
		.header-top__menu-mob.is-active &
			opacity 0
			top 0
	&__menu-mob-line:after
		bottom getRem(-10)
		.header-top__menu-mob.is-active &
			transform rotate(-90deg)
			bottom 0
