.header-menu
	@media $phone
		display none
	&__list
		display flex
		justify-content space-between
	&__item
		position relative
		a
			display block
			position relative
			font-family days
			font-size getRem(19)
			line-height getRem(15)
			color #fff
			text-decoration none
			text-transform uppercase
			padding 12px 0 10px
		&.is-active
			background #fff
			&:after
				content ''
				display block
				border-left-color #fff
				border 20px solid transparent
				border-left 20px solid #fff
				width 0
				height 0
				position absolute
				right -40px
				top 0
			&:before
				content ''
				display block
				border 20px solid #fff
				border-left-color transparent
				width 0
				height 0
				position absolute
				left -30px
				top 0
			a
				color #f76228
				