.input
	width 100%
	display inline-block
	vertical-align middle
	box-sizing border-box
	
	&__wrapper
		border 4px solid #fff
		
	&__input
		box-sizing border-box
		border none
		background transparent
		padding 8px 15px
		width 100%
		font-size getRem(22)
		line-height getRem(20)
		font-family futura
		color #fff
		+placeholder()
			color #fff
		&.is-error
			color #ec2e2e
			background #ffc8b3
			+placeholder()
				color #ec2e2e