.main-menu
	@media $phone
		// display none
		position fixed
		background #fff
		top getRem(50)
		right -200vw
		width: 100vw
		padding getRem(10)
		z-index 2
		transition all .375s
		box-shadow 0 0 10px 2px rgba(0, 0, 0, 0.26)
		max-height 90vh
		overflow scroll
		box-sizing: border-box
		&.is-active
			right 0
	&__list
		display flex
		justify-content space-between
		@media $phone
			flex-direction column
	&__item
		position relative
		font-family FuturaDemi
		font-size getRem(17)
		line-height getRem(12)
		color #3a3a3a
		line-height 45px
		cursor default
		a
			display block
			font-family FuturaDemi
			font-size getRem(17)
			color #3a3a3a
			text-decoration none
			
		
		&.is-active
		a:hover
			
				color #00aeef
				text-decoration underline
		ul
			display none
			position absolute
			top 45px
			min-width 210px
			left -10px
			z-index 10
			background #fff
			box-shadow 0 1px 3px 0 rgba(0,0,0,.2)
			@media $phone
				display block
				position static
				box-shadow none
				padding-left getRem(20)
			&:before
				content ''
				display block
				position absolute
				top -5px
				left 30px
				width 10px
				height 10px
				background #fff
				transform rotateZ(45deg)
				z-index 1
				box-shadow -1px -1px 2px 0 rgba(0,0,0,.1)
				@media $phone
					display none
			.main-menu__item
				a
					padding 6px 10px
					line-height 1
				
				&:hover
					ul
						top 0
						left 100%
						margin-left 2px
						&:before
							top 10px
							left -4px
							transform rotateZ(-45deg)
			&.main-menu__submenu
				@media $phone
					display none
		&:hover > ul
			display block
			
		&.is-active > a
			color #00aeef
			text-decoration underline
	
	&__item_have-children
		&:after
			content ''
			position absolute
			width 0
			height 0
			border-top 4px solid transparent
			border-bottom 4px solid transparent
			border-left 5px solid #999
			top 11px
			right 7px
	&__item_shares
		a
			color #f76228
			text-transform uppercase
	
	&__item_submenu
		> a
			@media $phone
				display: inline
		&:after
			@media $phone
				content ''
				display: block
				position: absolute
				right: 5px
				top: 13px
				width: 12px
				height: 8px
				background url("/f/i/arrow-down.png") no-repeat center center
				background-size contain
				transition all .175s
				
		&.is-opened:after
			@media $phone
				transform rotate(180deg)
				