.our-works
	&__list
		display flex
		justify-content space-between
		flex-wrap wrap
	&__item
		position relative
		width calc(33.3333% - 10px)
		margin-bottom 35px
		&:hover
			.our-works__zoom-icon
				display none
			.our-works__zoom-icon_hover
				display block
			.our-works__content
				display block
	&__img-wrapper
		width 100%
		a
			display block
		img
			width 100%
	&__zoom
		width 23px
		height 23px
		position absolute
		top 15px
		right 15px
		z-index 1
	&__zoom-icon
		width 100%
	&__zoom-icon_hover
		display none
	&__content
		display none
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		background rgba(255, 255, 255, .8)
		border 8px solid #f76228
		transition all .375s
	&__text
		position absolute
		top 50%
		transform translateY(-50%)
		text-align center
		font-family futura
		color #000
		font-size getRem(18)
		