.page
	&__inner
		display flex
		padding getRem(50) 0
	&__col_left
		max-width getRem(420)
		width 100%
		flex-shrink 0
		@media $phone
			display none
	&__col_right
		width 100%
		max-width getRem(680)
	
	&__empty-category
		font-size getRem(30)
		text-align center
		color #009fe3
		margin getRem(40) 0 getRem(80)
	
	&__text
		font-family futura
		font-size getRem(18)
		margin-bottom getRem(40)
		clearfix()
		iframe
			max-width 100%
			float left
			margin-right 1rem
			margin-bottom 1rem
			@media $tablet
				float none
				margin 0 auto 1rem
				display block
		p
			margin-bottom 15px
			font-size getRem(18)

		blockquote
			padding 30px 0
			
		blockquote
		blockquote p
			font .81rem $title
			color $orange
			text-align center
		
		h1, .h1
		h2, .h2
		h3, .h3
			font 1.8rem/1 $title
			margin-bottom 1.4rem
			margin-top 1.8rem
			color #333333
			text-align center
			span
				color $orange
				text-transform uppercase
		h4, .h4
			font 1.4rem/1 $title
			margin-bottom 30px
			color #333333
			span
				color $orange
				text-transform uppercase

		h6, .h6
			font .81rem $title
			color $orange
			text-align center
			
		img
			max-width 100%
			margin-bottom 15px
		
		p + p > img
			margin-top 15px
		
		strong
		b
		.strong
		.b
			font-weight bold
		
		table
			border 1px solid #ccc
			border-collapse collapse
		td
			padding 10px
			border 1px solid #ccc
		
		ul
			margin-bottom getRem(25)
			list-style none
			li
				margin-bottom getRem(10)
				&:before
					content ''
					display inline-block
					vertical-align top
					background url('/f/i/icon-window-blue.png')
					background-size contain
					width getRem(22)
					height getRem(22)
					margin-right getRem(5)
		ol
			li
				list-style-type decimal
		li
			position relative
			margin-bottom 5px
		
		hr
			clear both
			height 1px
			border none
			background transparent