.pagination
	margin-top getRem(20)
	text-align center
	li
		display inline-block
		vertical-align middle
		margin 0 getRem(25)
		a
		span
			font-size getRem(22)
			color #3a3a3a
			font-family days
			text-decoration none
			
	li.active
		a
			color #f76228
	a:hover
		color #f76228