.popup
	background #fff
	position absolute
	min-height 0
	width 800px
	max-width 96%
	left 50%
	top 50%
	transform translate(-50%,-50%)
	border-radius 3px
	padding 40px
	box-sizing border-box
	margin 20px auto
	@media $phone
		padding 40px 20px
	&_form
		background #ebebeb
		padding 70px 40px
	&.is-large
		position relative
		top auto
		left auto
		transform none

	&__close
		width 30px
		height 30px
		position absolute
		top 10px
		right 10px
		cursor pointer
		&:before
		&:after
			position absolute
			content ''
			height 30px
			width 2px
			left 14px
			top 0
			background $orange
			transition all .3s
		&:before
			transform rotateZ(45deg)
		&:after
			transform rotateZ(-45deg)
	
		&:hover
			&:before
			&:after
				background $red
	&__inner
		p
			font-size 18px
			margin-bottom 15px
		strong
			font-size 20px
			font-weight bold

	&__overlay
		display none
		background rgba(0, 0, 0, 0.8)
		position fixed
		left 0
		top 0
		width 100%
		width 100vw
		height 100%
		height 100vh
		z-index 550
		overflow auto
		
	
	&__title
		font-family days
		text-transform uppercase
		color #f76228
		font-size getRem(34)
		line-height 1.3
		text-align center
		margin-bottom 20px
	&__title_blue
		color #00aeef
	
	&__form
		max-width getRem(540)
		margin 0 auto
	
	&__input
		margin-bottom 22px
		.input__wrapper
			border-color #3a3a3a
		.input__input
			color #3a3a3a
			+placeholder()
				color #3a3a3a
	
	&__checkbox
		margin-bottom 35px
		margin-top 35px
		.checkbox__icon
			border-color #3a3a3a
		.checkbox__icon:after
			background #3a3a3a
		.checkbox
			color #3a3a3a
			a
				color #3a3a3a
	
	
	&__textarea
		width 100%
		margin-bottom 22px
		.textarea__wrapper
			border-color #3a3a3a
		.textarea__textarea
			color #3a3a3a
			min-height getRem(100)
			+placeholder()
				color #3a3a3a
	&__btn
		margin-top 44px
		text-align center
		.btn
			width 100%
			max-width getRem(460)
			margin 0 auto