.popular
	color #3a3a3a
	&__inner
		padding-bottom getRem(45)
	&__tab
		display none
		&.is-active
			display block
	&__tab-head
		display flex
		justify-content center
		margin getRem(35) 0
		@media $phone
			flex-direction column
	&__tab-head-item
		font-family FuturaDemi
		font-size getRem(24)
		color #9e9e9e
		text-decoration underline
		text-transform uppercase
		margin 0 getRem(25)
		cursor pointer
		@media $phone
			margin getRem(10)
			text-align center
		&.is-active
			color #3a3a3a
			
	&__list
		display flex
		@media $phone
			flex-direction column
	&__item
		width 33.3333%
		text-align center
		padding getRem(25) 0
		transition all .375s
		@media $phone
			width 100%
		&:hover
			box-shadow 0 8px 10px 2px rgba(0, 0, 0, 0.3)
			.popular__title
			.popular__advantage
				color #f76228
			.btn
				background #f76228
				cursor pointer
	&__title
		font-family days
		font-size getRem(24)
		margin-bottom getRem(10)
		transition all .375s
	&__advantage
		font-family FuturaDemi
		font-size getRem(16)
		text-transform uppercase
		margin-bottom getRem(20)
		transition all .375s
	&__img
		margin-bottom getRem(20)
		img
			@media $laptop
				max-width 100%
	&__props
		margin-bottom getRem(10)
	&__prop
		border-bottom 2px solid #cfcfcf
		font-size getRem(18)
		padding getRem(8) 0
	&__prop-name
		font-family FuturaDemi
	&__prop-val
		font-family futura
	&__caption
		font-family futura
		font-size getRem(18)
		margin-bottom getRem(20)
	&__price
		font-family FuturaDemi
		font-size getRem(26)
		margin-bottom getRem(20)
	&__price-val
		font-size getRem(34)
	&__btn
		.btn
			width getRem(255)
			@media $phone
				width 100%
				max-width getRem(255)