.price-table
	display: table
	border: 1px solid #ccc
	background #f0f0f0
	margin-top: getRem(40)
	margin-bottom: getRem(45)
	@media $phone
		word-break break-all
	&__row
		display: table-row
	&__row_head
		color #fff
		background #f76228
		text-align: center
	&__row:nth-child(even)
		background #fff
	&__cell
		display: table-cell
		padding: getRem(10)
		border: 1px solid #ccc