.product-item
	border-bottom 1px solid #cecece
	color #3a3a3a
	margin getRem(20) 0
	&__inner
		padding getRem(30) 0
	&__row
		display flex
		justify-content space-between
		@media $phone
			flex-direction column
	&__left
		max-width getRem(290)
		width 100%
		@media $phone
			margin-bottom getRem(20)
	&__right
		max-width getRem(370)
		width 100%
	&__img-wrap
		width 100%
		margin-bottom getRem(20)
		text-align center
		img
			max-width 100%
			max-height 380px
	&__price
		text-align center
		font-family FuturaDemi
		font-size getRem(34)
	&__title
		font-family days
		font-size getRem(24)
		margin-bottom 10px
	&__subtitle
		font-family FuturaDemi
		font-size getRem(16)
		margin-bottom 20px
	
	&__props
		margin-bottom 20px
	&__prop
		margin-bottom 10px
	&__prop-name
		font-family FuturaDemi
		font-size getRem(18)
		display inline-block
		
	&__prop-value
		font-family futura
		font-size getRem(18)
		display inline-block
	&__advantages
		margin-bottom getRem(30)
	&__advantage
		
		font-family futura
		font-size getRem(18)
		margin-bottom 5px
		&:before
			content '+'
			display inline-block
	&__description
		font-family futura
		font-size getRem(18)
		margin-top getRem(20)
		width 100%
	&__btn
		margin-bottom getRem(20)
		.btn
			width getRem(290)
			font-size getRem(22)
	&__get-consult
		position relative
		padding-left 45px
		display block
		font-family FuturaDemi
		font-size getRem(18)
		color #3a3a3a
		cursor pointer
	&__get-consult-icon
		position absolute
		top 2px
		left 0
	

	&__bonuses
		max-width 320px
		display flex
		margin getRem(20) 0
		font-size getRem(12)
		min-height getRem(65)
	&__bonus-title
		font-family FuturaDemi
		text-transform uppercase
	&__bonus-warranty
		border 2px solid #f3f3fb
		width 60%
		padding getRem(15) getRem(15)
		display flex
		margin-right getRem(20)
	&__bonus-installment
		text-transform uppercase
		border 2px solid #f76228
		width 30%
		padding getRem(5)
		text-align center

	&__warranty-icon
		width 29px
		height 30px
		background url("/f/i/product-item/warranty-icon.png") center center no-repeat
		background-size contain
		margin-right getRem(10)

	&__installment-icon
		width 40px
		height 35px
		background url("/f/i/product-item/installment-icon.png") center center no-repeat
		background-size contain
		margin 0 auto getRem(7)