.production-slider
	margin-top 30px
	@media $laptop
		padding-right getRem(50)
	@media $phone
		padding-right 0
	&__list
		.slick-list
			margin-left 0
			margin-right 0
		.slick-arrow
			display block
			border 20px solid transparent
			width 0
			height 0
		.slick-prev
			left -50px
			border-right 20px solid #a2a2a2
		.slick-next
			right -50px
			border-left 20px solid #a2a2a2
			@media $laptop
				right getRem(-50)
		.slick-prev
		.slick-next
			z-index 1
			&:before
				display none
		.slick-slide
			.production-slider__zoom-icon_hover
				display none
		.slick-dots
			font-size 0
			bottom 0
			position static
			margin-top getRem(15)
		.slick-dots li
			margin 0 getRem(5)
		.slick-dots li button
			border 4px solid #00a8ec
			@media $phone
				width getRem(10)
				height getRem(10)
			&:before
				display none
		.slick-dots li.slick-active button
			background #00a8ec
		&.slick-dotted.slick-slider
			margin-bottom 0
	&__item
		margin-right 15px
		position relative
		img
			width 100%
		a
			display block
		&:hover
			.production-slider__zoom-icon
				display none
			.production-slider__zoom-icon_hover
				display block

	&__zoom
		width 23px
		height 23px
		position absolute
		top 15px
		right 15px
		z-index 1
	&__zoom-icon
		width 100%
	&__zoom-icon_hover
		display none