.response
	display none
	position absolute
	text-align center
	font-size getRem(18)
	font-family futura
	color #00aeef
	left 0
	top 0
	right 0
	bottom 0
	background rgba(255, 255, 255, .6)
	padding-top getRem(20)