.reviews
	margin-top 40px
	margin-bottom 40px
	&__list
		display flex
		flex-wrap wrap
		justify-content space-between
		@media $phone
			flex-direction column
	&__item
		width calc(50% - 40px)
		margin-bottom getRem(50)
		@media $phone
			width 100%
	&__item_catalog
		text-align left
		width 100%
		margin-bottom getRem(30)

	&__name
		font-family days
		font-size getRem(18)
		color #f76228
		text-transform uppercase
		margin-bottom 10px
	&__date
		font-family futura
		font-size getRem(16)
		color #3a3a3a
		margin-bottom 15px
	&__text
		font-family futura
		font-size getRem(16)
		color #3a3a3a
		margin-bottom 10px
	&__origin
		position relative
		padding-left 35px
		padding-top 6px
		padding-bottom 10px
		a
			font-family FuturaDemi
			font-size getRem(18)
			color #3a3a3a
	&__origin-icon
		position absolute
		left 0
		top 0
	
	&__all-link
		font-family FuturaDemi
		text-align center
		color #f76228
		margin-bottom getRem(20)
		font-size getRem(16)
		font-weight bold

.reviews_catalog
	margin-top 0
	margin-bottom getRem(20)
	padding 0 getRem(20)
	.reviews__name
		text-transform none