.section
	position relative
	&_gray
		background #ebebeb
	&_orange
		background #f76228
	&_get-callback
		background-image url('/f/i/icon-question.png')
		background-repeat no-repeat
		background-position calc(50% - 540px) 50%
		@media $laptop
			background-position calc(50% - 390px) 50%
	&_about
		background-image url('/f/i/icon-window.png')
		background-repeat no-repeat
		background-position calc(50% - 500px) 50%
		@media $laptop
			background-position calc(50% - 300px) 50%
	&_get-project
		background-image url('/f/i/get-project-bg.jpg')
		background-position center center
		
		&:before
			content ''
			display block
			position absolute
			background #fb885c
			opacity .7
			width 100%
			height 100%
	&_get-measure
		background-image url('/f/i/get-measure-bg.jpg')
		background-position center center
		&:before
			content ''
			display block
			position absolute
			background #fb885c
			opacity .7
			width 100%
			height 100%
	&_get-now
		background-image url('/f/i/get-now-bg.jpg')
		background-position center center
		height getRem(445)
		margin-bottom getRem(35)
		@media $laptop
			height auto
		@media $phone
			margin-bottom 0
		&:before
			content ''
			display block
			position absolute
			background #fb885c
			opacity .7
			width 100%
			height 100%
	&_get-stock
		.section__inner
			padding getRem(20px) 0
		.section__title
			font-size getRem(34)
	&_corporation-form
		.section__title
			font-size getRem(27)
			line-height 2.4rem
	&_service-step
		.section__inner
			padding-top getRem(60)
	&__inner
		padding getRem(40) 0
	&__title
		font-family days
		text-transform uppercase
		color #f76228
		font-size getRem(46)
		text-align center
		// margin-top getRem(20)
		margin-bottom getRem(40)
		@media $phone
			font-size getRem(30)
			margin-bottom getRem(30)
	&__title_blue
		color #00aeef
	&__title_inner
		text-align left
	&__title_small
		font-size getRem(36)
	&__title_xsmall
		font-size getRem(24)
	&__title_separate
		display: block
		margin-top: 20px
	&__subtitle
		font-size getRem(22)
		color #3a3a3a
		font-family FuturaDemi
		text-align center
	&__text
		color #3a3a3a
		font-size getRem(18)
		line-height getRem(22)
		font-family futura
		margin-bottom getRem(20)
		p
			margin-bottom getRem(10)
		img
			max-width 100%
	&__text_accent
		text-align center
		font-family days
		color #f76228
		text-transform uppercase
	&__text_left
		text-align left
	&__link
		text-align center
		margin-top 30px
		a
			text-transform uppercase
			color #00a8ec
			font-family FuturaDemi
			font-size getRem(26)