.service-step
	&__list
		display flex
		flex-wrap wrap
		justify-content center
	&__item
		width getRem(510)
		height getRem(370)
		position relative
		display flex
		align-items flex-end
		margin 3px
		background-size auto 100%
		background-position center center
		background-repeat no-repeat
		transition all .375s
		@media $smallDesktop
			width 32%
			height 23vw
		@media $phone
			width 100%
			height 70vw
		&:before
			content ''
			position absolute
			bottom 0
			width 100%
			height 60%
			background linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent)
		&:after
			content ''
			display block
			border-left-color #fff
			border 40px solid transparent
			border-left 20px solid #fff
			width 0
			height 0
			position absolute
			left 0
			top calc(50% - 40px)
			@media $phone
				display none
		&:nth-child(3n+1)
			&:after
				display none
		&:hover
			background-size auto 110%
			.btn
				background #f76228
	&__row
		position relative
		display flex
		justify-content flex-end
		width 100%
		min-height getRem(140)
	&__title
		font-family FuturaDemi
		font-size getRem(29)
		color #fff
		min-height getRem(70)
		padding-bottom 10px
		@media $smallDesktop
			font-size getRem(25)
			min-height getRem(60)
	&__content
		width getRem(360)
		@media $smallDesktop
			width 100%
			padding-left getRem(100)
	&__num
		font-family FuturaDemi
		font-size getRem(210)
		line-height getRem(140)
		color #fff
		position absolute
		left 0
		bottom 0
		@media $smallDesktop
			font-size getRem(150)
			line-height getRem(95)
	&__btn
		margin-bottom 20px
		margin-right 20px
		.btn
			font-size getRem(22)
			max-width getRem(330)
			width 100%
			@media $smallDesktop
				font-size getRem(20)
			@media $laptop
				font-size getRem(16)