.stock-item
	clearfix()
	&__inner
		padding 40px 0
	&__title
		text-align center
		color #f76228
		font-family days
		font-size getRem(36)
		margin-bottom 25px
		text-transform uppercase
	&__title_inner
		text-align left
	&__img-wrap
		position relative
		margin-bottom 20px
		img
			width 100%
	&__date
		position absolute
		width getRem(140)
		background #f76228
		color #fff
		text-align center
		font-family FuturaDemi
		font-size getRem(18)
		left 25px
		top -7px
		height getRem(46)
		&:after
			content ''
			display block
			border getRem(70) solid transparent
			border-top 17px solid #f76228
			width 0
			height 0
			position absolute
			left 0
			bottom -87px
	&__date-text
		position absolute
		top 50%
		width 100%
		transform translateY(-50%)
	&__text
		font-family futura
		font-size getRem(18)
		color #3a3a3a
		margin-bottom 10px