.stock-list
	&__wrapper
		margin 0 -20px
		@media $phone
			margin 0
	&__list
		display flex
		flex-wrap wrap
	&__img
		margin-bottom 15px
		position relative
		img
			width 100%
	&__item
		display block
		position relative
		width calc(50% - 40px)
		margin getRem(20)
		text-decoration none
		color #3a3a3a
		@media $phone
			width 100%
			margin getRem(20) 0
		&:hover
			color #f76228
			.stock-list__img:before
				content ''
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				border 7px solid $orange
	&__title
		font-family FuturaDemi
		font-size getRem(22)
		margin-bottom getRem(10)
	&__text
		font-family futura
		font-size getRem(18)
	&__date
		position absolute
		width getRem(140)
		background #f76228
		color #fff
		text-align center
		font-family FuturaDemi
		font-size getRem(18)
		left getRem(25)
		top getRem(-7)
		height getRem(46)
		z-index 1
		&:after
			content ''
			display block
			border getRem(70) solid transparent
			border-top getRem(17) solid #f76228
			width 0
			height 0
			position absolute
			left 0
			bottom getRem(-87)
	&__date-text
		position absolute
		top 50%
		width 100%
		transform translateY(-50%)