.subcatalog-menu
	&__list
		margin-bottom getRem(20)
		font-size: 0
	&__item
		display inline-block
		vertical-align middle
		margin-right 10px
		margin-bottom 7px
		a
			btn()
			height getRem(30)
			line-height getRem(30)
			font-family FuturaDemi
			font-size getRem(14)
			text-transform uppercase
