.tags-menu
	margin-top getRem(40)
	margin-bottom getRem(40)
	&__list
		text-align center
	&__item
		display inline-block
		vertical-align middle
		margin getRem(5) getRem(12)
		@media $phone
			margin getRem(5) 0
		a
			display block
			color #fff
			height getRem(42)
			line-height getRem(32)
			box-sizing border-box
			border getRem(5) solid transparent
			font-family FuturaDemi
			font-size getRem(22)
			width getRem(330)
			background #f76228
			text-decoration none
			text-align center
			text-transform uppercase
			box-shadow 0 0 10px 2px rgba(0, 0, 0, 0.26)
			transition all .375s
			
				
			&:hover
				color #f76228
				background #fff
				border-color #f76228