.team-slider
	margin-top 40px
	&__header
		font-family days
		font-size getRem(24)
		color #f76228
		text-transform uppercase
		text-align center
	&__slider
		margin-bottom 20px
		.slick-track
			padding-top 30px
			padding-bottom 30px
			display flex
		.slick-list
			padding-left 5px
		.slick-slide
			display flex
			height auto
		.slick-prev
			left -70px
			display block
			border 20px solid transparent
			border-right 20px solid #a2a2a2
			width 0
			height 0
		.slick-next
			right -70px
			display block
			border 20px solid transparent
			border-left 20px solid #a2a2a2
			width 0
			height 0
		.slick-prev
		.slick-next
			z-index 1
			&:before
				display none
	&__item
		background #f7f7f7
		padding 15px 20px
		display flex
		width 100%
		max-width getRem(525)
		box-sizing border-box
		margin-right getRem(40)
		// margin-left getRem(5)
		box-shadow -5px 5px 10px -5px rgba(0, 0, 0, 0.26)
	&__img-wrapper
		width 150px
		height 150px
		font-size 0
		border-radius 50%
		overflow hidden
		flex-shrink 0
		box-shadow -5px 5px 10px -5px rgba(0, 0, 0, 0.26)
	&__content
		color #3a3a3a
		margin-left 25px
	&__title
		font-family FuturaDemi
		font-size getRem(24)
	&__prof
		font-family futura
		font-size getRem(18)
		margin-bottom getRem(10)
	&__text
		font-family futura
		font-size getRem(18)