.textarea
	width 100%
	&__wrapper
		border 4px solid #fff
	&__textarea
		box-sizing border-box
		border none
		background transparent
		padding 8px 15px
		width 100%
		font-size getRem(22)
		line-height getRem(20)
		font-family futura
		color #fff
		resize none
		+placeholder()
			color #fff