.top-slider
	width 100%
	@media $phone
		display: none
		
	&_phone
		display: none
		@media $phone
			display: block
	.container
		height 100%
	&__inner
		padding-bottom getRem(85)
	&__item
		height getRem(510)
		background-size auto 100%
		background-position center top
		@media $laptop
			height 34vw
		@media $phone
			height 40vw
	&__body
		position relative
		text-align center
		height 100%
	&__title
		font-family days
		text-transform uppercase
		color #12b9f7
		font-size getRem(76)
	&__subtitle
		font-family days
		text-transform uppercase
		color #fff
		font-size getRem(38)
	&__text
		font-family FuturaDemi
		color #fff
		font-size getRem(30)
	&__logo
		position absolute
		top 30px
		right 25px
	&__btn
		position absolute
		bottom 80px
		width 100%
		.btn
			padding 0 30px
	&__btn_right
		text-align right
	&__btn_left
		text-align left
	&__slider
		&.slick-dotted.slick-slider
			margin-bottom 0
		.slick-dots
			font-size 0
			bottom getRem(-45)
		.slick-dots li
			margin 0 getRem(10)
			@media $phone
				margin 0 getRem(5)
		.slick-dots li button
			border 4px solid #00a8ec
			@media $phone
				width getRem(10)
				height getRem(10)
			&:before
				display none
		.slick-dots li.slick-active button
			background #00a8ec
	
		.slick-arrow
			display block
			border 20px solid transparent
			width 0
			height 0
		.slick-prev
			left 0
			border-right 20px solid #a2a2a2
		.slick-next
			right 0
			border-left 20px solid #a2a2a2
		.slick-prev
		.slick-next
			z-index 1
			&:before
				display none