.works-tabs
	&__tab-head
		margin-bottom: getRem(30)
	&__tab-head-item
		margin-right: 10px
		margin-bottom: 15px
		height getRem(40)
		line-height getRem(40)
		font-size getRem(22)
		&.is-active
		&:hover
			background: #f76228
	
	&__btn
		text-align: center
		margin-top: getRem(50)