.works-slider
	&__inner
		padding-top 20px
	&__list
		.slick-list
			margin-left 0
			margin-right 0
		.slick-arrow
			display block
			border 20px solid transparent
			width 0
			height 0
		.slick-prev
			left -50px
			border-right 20px solid #a2a2a2
			@media $laptop
				left: -40px
		.slick-next
			right -50px
			border-left 20px solid #a2a2a2
			@media $laptop
				right -20px
		.slick-prev
		.slick-next
			z-index 1
			&:before
				display none
		.slick-slide
			.works-slider__zoom-icon_hover
				display none
		.slick-dots
			font-size 0
			bottom 0
			position static
			margin-top getRem(15)
		.slick-dots li
			margin 0 getRem(5)
		.slick-dots li button
			border 4px solid #00a8ec
			@media $phone
				width getRem(10)
				height getRem(10)
			&:before
				display none
		.slick-dots li.slick-active button
			background #00a8ec
		&.slick-dotted.slick-slider
			margin-bottom 0
	&__item
		margin-right 15px
		position relative
		cursor: pointer
		img
			width 100%
		a
			display block
		&:hover
			.works-slider__zoom-icon
				display none
			.works-slider__zoom-icon_hover
				display block
			.works-slider__content
				display block
	&__img
		width 100%
		max-height getRem(540)
	&__btn
		text-align center
		margin-top 30px
		@media $phone
			padding 0 getRem(10)
		.btn
			width getRem(430)
			@media $phone
				width 100%
				max-width getRem(430)
			&:hover
				background #f76228
	&__zoom
		width 23px
		height 23px
		position absolute
		top 15px
		right 15px
		z-index 1
	&__zoom-icon
		width 100%
	&__zoom-icon_hover
		display none
	&__content
		display none
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		background rgba(255, 255, 255, .8)
		border 8px solid #f76228
		transition all .375s
	&__text
		position absolute
		top 50%
		transform translateY(-50%)
		text-align center
		font-family futura
		color #000
		font-size getRem(18)